.apps{
    display:flex;
    flex-wrap:wrap;
    width: 25px;
    margin:0;
    padding:0px;
}
.navbar-custom1 {
    position:sticky;
    width:300px;
    height:1000vh;
    /* grid-column: 3; */
    justify-content: start;
    background-color: #f8f9fa;
    border-left: 1px solid #dee2e6;
    padding: 20px;
    z-index:1000;
}
.apps svg{
    margin:0;
    padding:0px;
}


.right{
    float:right;
}
.but-ton2{
    padding:4px;
    border-radius:4px;
    width:100px;
    margin-left:15px;
    display:flex;
    text-decoration: none;
}
.but-ton2 svg{
    margin-right:5px;
}
.buttons{
    display:flex;
    
}
.center-grid{
    display:flex;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows:auto 1fr; */
    height: 100%;
}
.center-pg {
    display:grid;
    grid-column: 3 / span 4;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.flexx{
    display:flex;
    flex-direction: column; /* Align items vertically */
    gap: 10px; 
}
